# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/mpi-evolve/test.cpp
/.vs
/x64/Debug
/run.bat
/evolution.vcxproj.user
/evolution.vcxproj.filters
/evolution.vcxproj
/evolution.sln
